canvas {
  display: block;
}

a {
  color: black;
}

h3 {
  font-size: 20px;
}

.whisky-img {
  height: 400px;
}

.whisky-distillery h3 {
  margin-bottom: 0px;
}

.whisky-name {
  margin-top: 0px;
}

.whisky-name h2 {
  margin-top: 0px;
}

.whisky-year, .whisky-abv, .whisky-casktype {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.whisky-year .info, .whisky-abv .info, .whisky-casktype .info {
  font-weight: normal;
  font-style: italic;
}

.country-flag {
  width: auto !important;
  height: 20px !important;
  margin-right: 3px;
}

.comment {
  resize: none;
  min-height: 7em;
  text-align: left;
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 10px;
  -webkit-transition: height 0.1s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: height 0.1s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, height 0.1s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, height 0.1s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  border: none;
  -webkit-box-shadow: 0px 0px 15px 6px rgba(230, 230, 230, 0.9);
          box-shadow: 0px 0px 15px 6px rgba(230, 230, 230, 0.9);
}

.comment-user {
  font-size: 16px;
  font-weight: bold;
}

.comment-date {
  font-size: 10px;
}

.comment-content {
  margin-bottom: 10px;
}

.comment-edit {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}

.cm-user-pic {
  width: 55px;
  display: inline-block;
  float: left;
}

.cm-user-img {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  padding: 10px;
}

.comment-box {
  width: calc(90% - 55px);
  margin-left: 3%;
  margin-right: 2%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  float: left;
  -webkit-box-shadow: 0px 0px 15px 6px rgba(230, 230, 230, 0.9);
          box-shadow: 0px 0px 15px 6px rgba(230, 230, 230, 0.9);
}

.comment-box:after {
  content: " ";
  position: relative;
  left: -20px;
  top: -50px;
  border-top: 10px solid transparent;
  border-right: 10px solid white;
  border-left: none;
  border-bottom: 10px solid transparent;
  float: left;
}

.comment-control-sec {
  display: inline-block;
  float: left;
  color: #808080;
}

.btn-control {
  background-color: transparent;
  border: none;
}

.btn-control:focus {
  outline: 0;
}

.comment-control {
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding: 0;
}

.btn-ctrl {
  margin-right: 3px;
}

.popover-content {
  padding: 5px 5px;
  width: 85px;
}

#blurred-chart {
  background-image: url("photographer.jpg");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#overflow-cover {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#show-edit-flavor {
  text-align: center;
  margin-top: 15px;
  border-radius: 15px 15px;
  outline: none;
}

.ui-slider-range {
  background: #581D17;
}

.ui-slider-handle {
  border-color: #581D17 !important;
  background: #581D17 !important;
  border-radius: 50%;
}

.flavor-ctrl {
  margin: 15px auto;
  width: 250px;
}

.button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#btn-share, #btn-bm {
  background: transparent;
  border: none;
  outline: none;
}

@media (max-width: 768px) {
  .whisky-info {
    margin-top: 10px;
    text-align: center;
  }
  .whisky-img, .whisky-region {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .comment-box {
    width: calc(85% - 55px);
    margin-left: 3%;
    margin-right: 2%;
  }
}
/*# sourceMappingURL=whisky.css.map */