{% load recurse %}
{% load site_tags %}
{% load static %}

    <header>
        <nav class="navbar navbar-default navbar-fixed-top desktop-nav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img class="logo col" src="{% static "img/logo.svg" %}"></a>
            </div>

            <form class="navbar-form navbar-left" role="search" action="/search/" method="get" autocomplete="off" accept-charset="utf-8">
                <input type="search" name="q" placeholder="Search....">
            </form>

            <!-- Collect the desktop nav links -->
            <div data-hover="dropdown" data-animations="zoomIn zoomIn zoomIn zoomIn">
                <div class="row member-div">
                    <ul class="membership navbar-right">
                        {% if request.user.is_active %}
                        <li class="themes">
                            <a href="" class="username" title="會員主頁">
                                {{ request.user.username }}
                            </a>
                            <a href="" title="會員主頁"></a>
                                <img src="{% static "img/author.png" %}" class="img-responsive member-thumbnail"/> 
                            </a>
                        </li>
                        {% else %}
                        <li class="themes">
                            <button class="btn login-btn" type="button" name="button">會員登入<img src="{% static "img/author.png" %}" class="img-responsive member-thumbnail" /></button>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <hr class="menu-hr">
                {% recurse menu.menu_set.all|dictsort:"lvl" with menu as menu %}
                <ul class="lower-menu">
                {% loop %}
                    {% if menu.has_children %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle='dropdown' href="#">
                            {{ menu.title }}
                        </a>

                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="list-group-item" style="padding: 5px 5px;">
                                {% for child in menu.get_children %}
                                    {% if child.has_children %}
                                        {% include "nav_submenu.html" with menu=child %}
                                    {% else %}
                                    <ul>
                                        <li class="list-group-item" style="padding: 5px 5px;">
                                            <i class="{{ child.icon }} submenu-icon"></i>
                                            <a href="{{ child.url }}">{{ child.title }}</a>
                                        </li>
                                    </ul>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    {% else %}
                        <li>
                            <a href="{{ menu.url }}">{{ menu.title }}</a>
                        </li>
                {% endif %}
                    </li>
                {% endloop %}
                </ul>
        {% endrecurse %}
            </div><!-- /.navbar-collapse -->
        </nav>

        <nav class="navbar navbar-default navbar-fixed-top mobile-nav">
            <!-- Collect the mobile nav links -->
            <div id="mobile_div">
                <div class="mobile-div">
                    <ul class="lower-menu">
                        <li>
                            <a class="navbar-toggler" data-toggle="collapse" data-target="#mobile_menu" data-parent="#mobile_div">
                                <div class="animated-icon"><span></span><span></span><span></span></div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="row collapse" id="mobile_menu">
                    <div class="row search-row">
                        <div class="col-xs-12">
                            <form class="navbar-form navbar-left" name="search-form" role="search" action="/search/" method="get" autocomplete="off" accept-charset="utf-8">
                                <div class="autocomplete">
                                    <input id="myInput-m" type="search" name="q" placeholder="Search....">
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    {% recurse menu.menu_set.all|dictsort:"lvl" with menu as menu %}
                    {% loop %}
                    <div class="row">
                        {% if menu.has_children %}
                        <div class="col-xs-12">
                            <h4> {{ menu.title }} </h4>
                        </div>
                        {% for child in menu.get_children %}
                        <div class="col-xs-6">
                            <i class="{{ child.icon }} submenu-icon"></i>
                            <a href="{{ child.url }}">{{ child.title }}</a>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-xs-12">
                            <h4><a href="{{ menu.url }}">{{ menu.title }}</a></h4>
                        </div>
                        {% endif %}
                    </div>
                    {% endloop %}
                    {% endrecurse %}
                </div>
            </div>
        </nav>
        
        <div class="notifications">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </header>