{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Whisky Distilery Map{% endblock %}
{% block site_name %}Whisky Vitae{% endblock %}
{% block extra_css %}
    <style>
        #map {
            height:100%;
            width:100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
     </style>
{% endblock %}

{% block content %}
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div style="height: 490px">
        <div id="map"></div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 57.033749, lng: -4.080696},
                zoom: 6
            });

            var markers = locations.map(function(location, i) {
                return new google.maps.Marker({
                position: location,
                label: ''
                });
            });

            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }

        
        var locations = [];
        {% for distillery in distillery_list %}
            locations.push({lat: {{ distillery.lat }}, lng: {{ distillery.lon }}});
        {% endfor %}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk_JAWxllKD_6QyqchrgvO5Jkspxir_UI&callback=initMap" async defer></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
{% endblock %}

