{% extends 'base.html' %}
{% load static %}

{% block title %}Whisky Vitae{% endblock %}
{% block site_name %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/whisky.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static "js/whisky.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-5 col-sm-12 col-xs-12 whisky-img"><img src="{{ whisky_detail.photo.url }}" class="pic" /></div>
        <div class="col-md-5 col-sm-12 col-xs-12 whisky-info">
            <div class="whisky-distillery">
                {% for distillery in whisky_detail.distillery.all %}
                    {% if forloop.last %}
                    <h3><a href="" class="whisky-distillery-name">{{distillery}}, {{distillery.country}}</a></h3>
                    {% else %}
                    <h3><a href="" class="whisky-distillery-name">{{distillery}}, {{distillery.country}}</a></h3>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="whisky-name">
                <h2>{{ whisky_detail.name }}</h2>
            </div>
            <div class="whisky-abv">Abv: <span class="info">{{ whisky_detail.abv }}</span></div>
            <div class="whisky-year">Year: <span class="info">{{ whisky_detail.year }}</span></div>
            <div class="whisky-casktype">Casktype: <span class="info">{{ whisky_detail.casktype }}</span></div>
            <hr>
            <div class='tabs'>
                <ul class='nav nav-pills nav-justified'>
                    <li class="tab-li">
                        <a href="#tab-1">Avg. Flavor Chart</a>
                    </li>
                    <li class="tab-li">
                        <a href="#tab-2">My Flavor Chart</a>
                    </li>
                </ul>

                <div class="nav-block" id='tab-1'>
                    <div class="chart">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>

                <div class="nav-block" id='tab-2'>
                    <div class="chart">
                            <canvas id="canvas-individual"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>
    
{% endblock %}