{% extends 'base.html' %}
{% load static %}
{% load site_tags %}
{% block title %}Whisky Vitae{% endblock %}
{% block site_name %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/whisky.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script type="text/javascript">
        (function () {
            window.tableData = JSON.parse('{{ personal_note_array|safe}}');
            
            $(".my-rating").starRating({
                initialRating: 0,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating').value = currentRating;
                }
            });

            $(".rating-0").starRating({
                initialRating: 0,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-5").starRating({
                initialRating: 0.5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-10").starRating({
                initialRating: 1,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-15").starRating({
                initialRating: 1.5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-20").starRating({
                initialRating: 2,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-25").starRating({
                initialRating: 2.5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-30").starRating({
                initialRating: 3,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-35").starRating({
                initialRating: 3.5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-40").starRating({
                initialRating: 4,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-45").starRating({
                initialRating: 4.5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-50").starRating({
                initialRating: 5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                readOnly: true
            });

            $(".rating-edit-0").starRating({
                initialRating: 0,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });

            $(".rating-edit-5").starRating({
                initialRating: 0.5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });

            $(".rating-edit-10").starRating({
                initialRating: 1,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });

            $(".rating-edit-15").starRating({
                initialRating: 1.5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });

            $(".rating-edit-20").starRating({
                initialRating: 2,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });

            $(".rating-edit-25").starRating({
                initialRating: 2.5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });

            $(".rating-edit-30").starRating({
                initialRating: 3,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });

            $(".rating-edit-35").starRating({
                initialRating: 3.5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });

            $(".rating-edit-40").starRating({
                initialRating: 4,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });

            $(".rating-edit-45").starRating({
                initialRating: 4.5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });

            $(".rating-edit-50").starRating({
                initialRating: 5,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    // do something after rating
                    document.getElementById('myRating-edit').value = currentRating;
                }
            });
        }());
    </script>
    <script src="{% static "js/whisky.js" %}"></script>
    <script src="{% static "js/whisky_graph.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-4 col-xs-12"><img class="whisky-img" src="{{ whisky_detail.photo.url }}" /></div>
        <div class="col-md-6 col-xs-12 whisky-info">
            <div class="whisky-brand">{{ whisky_detail.brand_series }}</div>
            <div class="whisky-name">
                <h2>{{ whisky_detail.name }}</h2>
            </div>
            <div class="whisky-region">
                <img class="country-flag" src="{{ whisky_detail.distillery.country.image.url}}" /> 
                <span>{{ whisky_detail.distillery.region }}, {{ whisky_detail.distillery.country.name }}</span>
            </div>
            <hr>
            <div class='tabs'>
                <ul class='nav nav-pills nav-justified'>
                    <li class="tab-li">
                        <a href="#tab-1">Avg. Flavor Chart</a>
                    </li>
                    <li class="tab-li">
                        <a href="#tab-2">My Flavor Chart</a>
                    </li>
                </ul>

                <div class="nav-block" id='tab-1'>
                    <div class="chart">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>

                <div class="nav-block" id='tab-2'>
                    <div class="chart">
                        <input type="hidden" id="personalVar" name="variable">{{ whisky_detail.personal_note }}</input>
                        <canvas id="canvas-individual"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>

    <hr>

    <div class="info-area">
        <div class="row container">
            <div class="col-md-offset-1 col-md-10 col-xs-12">	
                <h3>Summary</h3>
                <div class="whisky-abv">Abv: <span class="info">{{ whisky_detail.abv }}</span></div>
                <div class="whisky-year">Year: <span class="info">{{ whisky_detail.year }}</span></div>
                <div class="whisky-casktype">Casktype: <span class="info">{{ whisky_detail.casktype }}</span></div>
            </div>
        </div>
    </div>

    <div class="comment-area">
        <div class="row container">
            <div class="col-md-offset-1 col-md-10 col-xs-12">		
                <div class="responses-box" id="r">
                    <div class="comments">
                        {% if comments %}
                        <hr style="margin-top: 20px; margin-bottom: 15px">
                        <h3>Reviews</h3>
                            {% for comment in comments %}
                                <div class="row comment-row" style="margin-top: 15px">
                                    <div class="cm-user-pic">
                                        {% if comment.user.profile.profilepic %}
                                            <img src="{{ comment.user.profile.profilepic.url }}" class="img-responsive cm-user-img"/>
                                        {% else %}
                                            <img src="{% static "img/author.png" %}" class="img-responsive cm-user-img" />
                                        {% endif %}
                                    </div>
                                    <div class="cm-user-content" id="cm-user-content-{{ comment.id }}">
                                        <div class="comment-box">
                                            <span class="comment-user">{{ comment.user|show_username }}&nbsp;</span>
                                            <span class="comment-date">{{ comment.created_at }}</span>
                                            <br>
                                            <div class="rating-{{ comment.rating|convert_rate }}" style="margin-bottom: 10px"></div>
                                            <div class="comment-content-31">{{ comment.note }}</div>
                                        </div>

                                        {% if request.user == comment.user %}
                                        <div class="popover-container">
                                            <div class="comment-control-sec">
                                                <button type="button" class="btn-control" id="btn-control" data-popover="true" data-placement="bottom" data-container="body">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </button>
                                                <div id="popover-content" class="hidden">
                                                    <button type="button" name="edit-comment" class="comment-control" onclick = "editComment({{ comment.id }})">
                                                        <i class="fa fa-edit fa-fw btn-ctrl"></i>Edit...
                                                    </button>
                                                    <button type="button" name="delete-comment" class="comment-control" onclick = "deleteComment({{ comment.id }})">
                                                        <i class="fa fa-trash fa-fw btn-ctrl"></i>Delete...
                                                    </button>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>

                                    {% if request.user == comment.user %}
                                    <div id="edit-box-{{ comment.id }}" style="display: none">
                                        <form method="post">
                                            {% csrf_token %} 
                                            {% if request.user.is_active %}
                                            <input type="hidden" id="comment-id" name="comment-id" value="{{ comment.id }}">
                                            <div class="rating-edit-{{ comment.rating|convert_rate }}" style="margin-top: 10px"></div>
                                            <input type="hidden" id="myRating-{{ comment.id }}" name="myRating-{{ comment.id }}" value="" />
                                            <textarea required class="form-control comment" placeholder="This whisky is..." name="comment-edit" id="comment-edit">{{ comment.note }}</textarea>
                                            <input type="checkbox" name="publish_choice" id="publish_choice" value="Private">Private Note</input>
                                            <br>
                                            <button id="cancel" name="cancel" class="btn btn-default" value="1" style="margin-top: 10px">Cancel</button>
                                            <input type="submit" value="submit" class ="btn" style="color:#333; margin-top: 10px">
                                            {% else %}
                                            <textarea class="form-control comment" placeholder="Please login or signup" disabled></textarea>
                                            {% endif %}
                                        </form>	
                                    </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <hr style="margin-top: 20px; margin-bottom: 15px">
                    </div>
                    <h3>My Notes</h3>
                    <form method="post">
                        {% csrf_token %} 
                        {% if request.user.is_active %}
                        <div class="my-rating" style="margin-bottom: 10px"></div>
                        <input type="hidden" id="myRating" name="myRating" value="" />
                        <textarea required class="form-control comment" placeholder="This whisky is..." name="comment" id="comment"></textarea>
                        <input type="checkbox" name="publish_choice" id="publish_choice" value="Private">Private Note</input>
                        <br>
                        <input type="submit" value="submit" class ="btn" style="color:#333; margin-top: 10px">
                        {% else %}
                        <textarea class="form-control comment" placeholder="Please login or signup" disabled></textarea>
                        {% endif %}
                    </form>					
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}