{% extends 'base.html' %}
{% load static %}

{% block title %}Whisky Vitae{% endblock %}
{% block site_name %}{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/whisky.css" %}">
{% endblock %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"> 
        (function () {
            window.tableData = JSON.parse('{{ personal_note_array|safe}}');
        }());
    </script>
    <script src="{% static "js/whisky.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-4 col-sm-12 col-xs-12 whisky-img"><img class="img-responsive" src="{{ whisky_detail.photo.url }}" /></div>
        <div class="col-md-6 col-sm-12 col-xs-12 whisky-info">
            <div class="whisky-brand">{{ whisky_detail.brand_series }}</div>
            <div class="whisky-name">
                <h2>{{ whisky_detail.name }}</h2>
            </div>
            <div class="whisky-region">
                <img class="country-flag" src="{{ whisky_detail.distillery.country.image.url}}" /> 
                <span>{{ whisky_detail.distillery.region }}, {{ whisky_detail.distillery.country.name }}</span>
            </div>
            <hr>
            <div class='tabs'>
                <ul class='nav nav-pills nav-justified'>
                    <li class="tab-li">
                        <a href="#tab-1">Avg. Flavor Chart</a>
                    </li>
                    <li class="tab-li">
                        <a href="#tab-2">My Flavor Chart</a>
                    </li>
                </ul>

                <div class="nav-block" id='tab-1'>
                    <div class="chart">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>

                <div class="nav-block" id='tab-2'>
                    <div class="chart">
                        <input type="hidden" id="personalVar" name="variable">{{ whisky_detail.personal_note }}</input>
                        <canvas id="canvas-individual"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
    </div>

    <hr>

    <div class="row">
        <h3>Summary</h3>
        <div class="whisky-abv">Abv: <span class="info">{{ whisky_detail.abv }}</span></div>
        <div class="whisky-year">Year: <span class="info">{{ whisky_detail.year }}</span></div>
        <div class="whisky-casktype">Casktype: <span class="info">{{ whisky_detail.casktype }}</span></div>
    </div>

    <div class="row">
        <h3>Community Review</h3>
    </div>
    
{% endblock %}