{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Whisky Distilery Map{% endblock %}
{% block site_name %}Whisky Vitae{% endblock %}
{% block extra_css %}
    <style>
        #map {
            height: 100%;
        }
     </style>
{% endblock %}

{% block content %}
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
{% endblock %}

{% block extra_js %}
    <script>
    // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: -25.344, lng: 131.036};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk_JAWxllKD_6QyqchrgvO5Jkspxir_UI &callback=initMap">
    </script>
{% endblock %}

